/* for login and reg */
/* start */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(98, 212, 240, 0);
    
}


   

.img h1{
    text-align: center;
    font-size: 36px;
}

.img .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 35px 0;
    

}

.inputbox input{

  width: 100%;  
  height: 100%;
  background: transparent;
  border: none ;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.473);
  border-radius: 40px;
  color: greenyellow;
  font-size: 100%;
  
}

.inputbox ::placeholder{
    color: aliceblue;
    font-size: medium;
    position: absolute;
    left: 7px;
    padding: 0px 5px;
    transition: 0.3s;
    pointer-events: none;
    
}

.input:focus + .placeholder{
    top: -10px;
    color: greenyellow;
    background-color: #FFFFFF;
}
    
.inputbox i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.buttonl{
    
  
   
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 5px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 19px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    border-radius: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left: 180px;
    margin-top: 25px;
      
  
    


     
    }
    
    .reg-link{
        position: absolute;
        margin-left: 350px;         
        justify-content: center;
        margin-top: -85px;
    } 
    

    .rem-forgot{
        position: absolute;
        justify-content: center;
        margin-top: -20px;
    }
    .img{
        width: 450px;
        background-color: rgb(0, 0, 0);
        color: rgb(240, 255, 255);
        border: 2px solid rgba(255, 255, 255, 0);
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 450px;
        
    }
    
.button_reg{

     align-items: center;
background: #FFFFFF;
border: 0 solid #E2E8F0;
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
box-sizing: border-box;
color: #1A202C;
display: inline-flex;
font-family: Inter, sans-serif;
font-size: 1rem;
font-weight: 700;
height: 5px;
justify-content: center;
line-height: 24px;
overflow-wrap: break-word;
padding: 19px;
text-decoration: none;
width: auto;
border-radius: 8px;
cursor: pointer;
border-radius: 16px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
margin-left: 178px;
margin-top: 25px;
  
}


/* end */






/* for navigation */

/* start  */

 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

  li,a,button{
    
     font-family: "Roboto Condensed", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  header{

    -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.50s;
  -moz-animation-duration: 0.50s;
  -o-animation-duration: 0.50s;
  animation-duration: 0.50s;
  -webkit-animation-delay: 0.50s;
  -moz-animation-delay: 0.50s;
  -o-animation-duration:0.50s;
  animation-delay: 0.50s;
    
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 50px;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
  }

  .logo{
    position: relative;
     cursor: pointer;
     width: 100px;
     height: 40px;
     margin-right: auto;
     
  }

  .navui{
    
      list-style: none;
    
  }

  .navui li{
    cursor: pointer;
      display: inline-block;
      padding: 0px 20px;
  }

.navui li a{
  
  transition: all 0.3s ease 0s;
}

.navui a:hover{
  color: greenyellow;
}

.but111{
 border: none;
  padding: 9px 25px;
  background-color: rgb(13, 43, 43);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  
  
}
.but111:hover{
   background-color: rgb(50, 78, 78);
}



/* search button */




.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: rgb(13, 43, 43);
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255, 255, 255, 0.788);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255, 255, 255, 0.877);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}










/* index css */


*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 10px;
}

.inimg1{ 
  
  /* background: url(imagepath); */
  background-color: rgb(3, 25, 51);
  height: 100vh;
  background-position: center;
  width: 100%;
}


@keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-100px);
      -moz-transform: translatex(-100px);
      -o-transform: translatex(-100px);
      transform: translatex(-100px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
.in-left {
  position: relative;
  
  top: 300px;
  color: rgb(255, 255, 255);
  font-size: 90px;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.50s;
  -moz-animation-duration: 0.50s;
  -o-animation-duration: 0.50s;
  animation-duration: 0.50s;
  -webkit-animation-delay: 0.50s;
  -moz-animation-delay: 0.50s;
  -o-animation-duration:0.50s;
  animation-delay: 0.50s;
}

.in-left-p{
  position: relative;
  text-shadow: 2px;
  
  top: 300px;
  color: rgb(255, 255, 255);
  font-size: 45px;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.50s;
  -moz-animation-duration: 0.50s;
  -o-animation-duration: 0.50s;
  animation-duration: 0.50s;
  -webkit-animation-delay: 0.50s;
  -moz-animation-delay: 0.50s;
  -o-animation-duration:0.50s;
  animation-delay: 0.50s;
}

.inimg2{

  width: 600px;
   height: 550px;
   position: relative;
   left: 1100px;
   animation: fadeInRight 1s ease-in-out
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}



.but45{
  
  position: relative;
  top: -140px;
  left: 13%;
  
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.50s;
  -moz-animation-duration: 0.50s;
  -o-animation-duration: 0.50s;
  animation-duration: 0.50s;
  -webkit-animation-delay: 0.50s;
  -moz-animation-delay: 0.50s;
  -o-animation-duration:0.50s;
  animation-delay: 0.50s;

margin: 10px;
padding: 15px 30px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
border-radius: 10px;
display: block;
border: 0px;
font-weight: 700;
box-shadow: 0px 0px 14px -7px #f09819;
background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
cursor: pointer;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.but45:hover {
background-position: right center;
/* change the direction of the change here */
color: #fff;
text-decoration: none;
}

.but45:active {
transform: scale(0.95);
}


