<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Haritam</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">+91 1234567890</a></li>
            <li><a href="#">haritam1234@support.com</a></li>
            <li><a href="#">order status</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Other logins</h4>
          <ul>
            <li><a href="#">agent login</a></li>
            <li><a href="#">admin login</a></li>
            
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/iamjobiiiii?igsh=MXhiYWlkcWZ5dzV6Yg=="><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/jobin-js-406a71311?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  