
   
    <header>
      <img class="logo" src="/static/assets/img/h2.png" alt="logo">
  
      <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
      </div>
    <nav>
  
        <ul class="navui">
           <li><a href="#about">about</a></li>
           <li><a href="#service">service</a></li>
           <li><a href="#support">support</a></li>
        </ul>
        
    </nav>
    {%if current_user.is_authenticated %}

      <div><a  href="#"><button class="but111">Profile</button></a>
      </div>
  {%else%}
      <div><a  href="{{url_for('auth_bp.login')}}"><button class="but111">login</button></a>
      </div>
  {%endif%}
  </header>