<body>
   
    <header>
      <img class="logo" src="/includes/assets/img/h2.png" alt="logo">
  
      <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
      </div>
    <nav>
  
        <ul class="navui">
           <li><a href="#about">about</a></li>
           <li><a href="#service">service</a></li>
           <li><a href="#support">support</a></li>
        </ul>
        
    </nav>
    <div><a  href="#login"><button class="but111">login</button></a>
  </div>
  
  
  </header>
  </body>