<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>harithum</title>
</head>
<body>
    <!--navigator-->
<nav>
    <div class="cont-nav-bar">
    <div class="logo"><a href="#">haritham</a></div>
    <div class="manu">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">License</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </div>
</div>
</nav>
</body>
</html>