{% extends "/layouts/main_layout.html" %}

{% block content %}

<body>
    
    <div class="container890">
        <div class="section98" id=>
            <h1>Welcome to the Agent Portal</h1>
            <p>Manage your tasks and stay updated with the latest information.</p>
        </div>
     <div class="line450">
         <div class="section18" id=>
            <a href="upcomingTask.html" class="section18">
            <h2>upcoming Tasks</h2>
            <p>View and manage your tasks here.</p>
            </a>
        </div>
          <div class="section18 extraspace" id=>
            <a href="agent_profile.html" class="section18">
            <h2>Profile</h2>
            <p>Update your profile information.</p>
            </a>
        </div>
        <div class="section18" id=>
            <a href="agent_history.html" class="section18">
            <h2>completed task</h2>
            <p>task that you completed.</p>
            </a>
        </div>
     </div>
    </div>
</body>

{% endblock content %}