
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haritam</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
    
    <div class="inimg1">
        {% include 'includes/navigator.html' %}
        <h1 class="in-left">Welcome to Haritam</h1>
        <p class="in-left-p">One Man's Junk is Our Treasure!</p>
        <img class="inimg2" src="/static/assets/img/h1.png" alt="Haritum">

        <button class="but45">Service</button>
</div>
<section class="first-section">

   
    <div class="card-grid">
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(/static/assets/img/Ewaste.webp)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">E-waste collection</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(/static/assets/img/paper.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Paper worst collocation</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(/static/assets/img/metal.png)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Metal worst collocation</h3>
        </div>
      </li>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(/static/assets/img/plastic.webp)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Plastic worst collocation</h3>
        </div>
      </a>
     <div>
      <h1 class="h1eywb">Our services</h1>
      <p class="554fg" style="color: rgb(226, 226, 226);">Our company specializes in providing comprehensive waste management solutions, including electronic waste (e-waste) disposal,
         plastic waste reduction, paper waste recycling, and metal waste collection and recycling. We ensure responsible disposal of electronic devices to prevent environmental harm,
          offer comprehensive plastic waste management solutions, promote the use of sustainable alternatives, and collaborate with businesses and communities to implement effective plastic reduction strategies. </p>
    </div>
  </section>
  <section>
  
    <h1 >Created By</h1>
  
    <div class="card78">
        <img src="#" alt="Jobin" />
        <div class="card-body">
            <h6>Jobin</h6>
            <p>programmer</p>
            <div>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card78">
        <img src="#" alt="Tinu" />
        <div class="card-body">
            <h6>Tinu</h6>
            <p>programmer</p>
            <div>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card78">
        <img src="#"  alt="Arun"/>
        <div class="card-body">
            <h6>Arun</h6>
            <p>Worst</p>
            <div>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
  
  
  </section>
  {% include 'includes/footer.html' %}
</body>
</html>