
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haritam</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">

</head>
<body>
    
    

    <div class="inimg1">
        {% include 'includes/navigator.html' %}
        <h1 class="in-left">Welcome to Haritam</h1>
        <p class="in-left-p">One Man's Junk is Our Treasure!</p>
        <img class="inimg2" src="/static/assets/img/h1.png" alt="Haritum">

        <button class="but45">Service</button>
</div>
</body>
</html>