{% extends "/layouts/main_layout.html" %}

{% block content %}

<body>
        <div class="container890">
            <div class="section8" id=>
                <h1>Welcome to the Admin Portal</h1>
                <p>Manage your tasks and stay updated with the latest information.</p>
            </div>
      <div class="line450">    
         <div class=".task-item">
             <div class="section" id="manageAgent">
                <a href="manage_agent.html" class="section18">
                <h2>Manage AgentS</h2>
                <p>View and manage your Agents here.</p>
                </a>
            </div>
              <div class="section" id="Incompletetask">
                <a href="Incompletetask.html" class="section18">
                <h2>Incompleted task</h2>
                <p>task that Incompleted.</p>
                </a>
            </div>
            <div class="section" id="history">
                <a href="main_history.html" class="section18">
                <h2>completed task</h2>
                <p>task that you completed.</p>
                </a>
            </div>
         </div>
         <div class="section" id="viewAnalytics">
                <a href="view_analytics.html" class="section18">
                <h2>viewAnalytics</h2>
                </a>
            </div>
            <div class="line450">    
                <div class=".task-item">
                    <div class="section" id="manageAgent">
                       <a href="admin_profile.html" class="section18">
                       <h2>Admin profile</h2>
                       <p>View and manage your profile.</p>
                       </a>
       
     </div>
  </div>
</body>
{% endblock content %}