{% extends "/layouts/main_layout.html" %}

{% block title %} History {% endblock %} 

{% block content %}

    

<body>
    <div class="container">
        <div class="section9" id="tasks">
            <h2>Tasks</h2>
            <ul class="task-list">
                <li class="task-item">
                    <span>Task 1: Gandinagar</span>
                    <button onclick="incomplete(this)">completed</button>
                </li>
                <li class="task-item">
                    <span>Task 2: Ayira</span>
                    <button onclick="incomplete(this)">completed</button>
                </li>
                <li class="task-item">
                    <span>Task 3: Parassala</span>
                    <button onclick="incomplete(this)">completed</button>
                </li>
                
            </ul>
        </div>
    </div>

</body>
{% endblock content %}