{% extends "/layouts/main_layout.html" %}

{% block title %} Manage Agent {% endblock %} 

{% block content %}

    

<body>
    <div class="line450">   
    <div class="section8" id="manageAgent">
        <h2>Manage Agent</h2>
        <div class="form-group">
            <label for="addAgent">Add Agent</label>
            <input type="text" id="addAgent" name="addAgent" placeholder="Enter Agent id">
            <button type="button">Add Agent</button>
        </div>
        <div class="form-group">
            <label for="removeUser">Remove Agent</label>
            <input type="text" id="removeAgent" name="removeAgent" placeholder="Enter Agent id">
            <button type="button">Remove Agent</button>
        </div>
     </div>
    </div>
</body>

{% endblock content %}